html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Mukta Mahee', sans-serif;
}
body {
	display: none;
}
.feature {
    fill: red;
    stroke: black;
    stroke-width: 0.14px;
    cursor: pointer;
}
.feature:hover {
    stroke-width: 1px;
}
#tooltip {
    visibility: hidden;
    position: absolute;
    margin: 10px 0 0 10px;
    pointer-events: none;
    text-align: center;
}
#tooltip-title {
    margin: 0 8px;
    font-variant: small-caps;
}
#tooltip-content {
    margin: 0 8px;
    font-size: 1.3em;
}
#map-panel {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#panel {
    min-width: 330px;
    padding: 8px;
    text-align: center;
	overflow-y: auto;
}
#panel-title {
	font-variant: small-caps;
	font-size: 120%;
	margin: 4px;
}
#chart {
    height: 100px;
    display: flex;
    flex-direction: column;
}
.bar {
	fill: #a2cde2;
}
.chart-figure {
	font-size: 80%;
}
#stats {
    margin-top: 1.6em;
}
#stats > div {
    margin-top: 0.8em;
}
#stats > div p {
    margin: 0;
}
#stats > div :last-child {
    font-size: 150%;
}
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.map, .chart {
    height: 100%;
}
#map-div, #chart {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#chart {
	max-height: 300px;
}
.title {
    margin: 4px 8px 2px 0px;
    font-size: 130%;
    font-weight: bold;
}
.subtitle {
    margin: 2px 8px 4px 0px;
}
header, footer {
    width: 100%;
}
header {
    padding: 8px 16px 0 16px;
}
select {
    border: none;
    height: 2em;
    width: 100%;
    min-width: 8.5em;
    margin-bottom: 4px;
}
.w3-hide-small p {
    text-align: left;
}
#mode-hint {
    font-variant-caps: small-caps;
    text-align: center;
}
.w3-modal {
    z-index: 1000;
}
@media (max-width: 600px) {
    .w3-row > div {
        margin-bottom: 6px;
    }
    .w3-row > div:last-child {
        margin-bottom: 0;
    }
    .title {
        text-align: center;
    }
    footer {
        display: block !important;
    }
    #narrative, #toggle-narrative-div {
        display: none;
    }
	#map-panel {
		flex-direction: column-reverse;
	}
}
@media (min-width: 601px) {
    .w3-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .w3-row > div, #narrative {
        margin: 0 1em;
    }
}
.w3-row {
    margin-bottom: 8px;
}
.close {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 2em;
    cursor: pointer;
}
label {
    display: block;
}
.citation {
    text-indent: 2em hanging;
}
.citation a {
    word-break: break-word;
}
.w3-modal-content {
    margin-bottom: 100px;
}
#attribution-div {
    flex: 0 1 100%;
    padding: 4px 8px;
}
#attribution {
    text-align: center;
    font-size: 80%;
    margin: 0;
}
#narrative {
    line-height: 1.1;
    font-size: 14px;
}
#toggle-narrative-div {
    text-align: center;
}
#toggle-narrative {
    font-size: 12px;
    padding: 3px 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}